* {
    box-sizing:border-box;
    padding: auto;
    margin: auto;   
}
header {
    background-color:darkslategray;
    justify-content:flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}
header h1 {
   background-color:#BCF2F3;
   margin-left: 0px;
}


header h1 a {
    color:darkslategray;
    text-decoration: none; 
    padding: 20px 5px 20px 40px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    align-items:flex-end;
    list-style: none;
    padding-right: 30px;
    margin-left: 600px;
}
header nav ul li a {
    text-decoration: none;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: #BCF2F3;
    padding: 10px 10px;
    margin-right: 10px;
    border-bottom: 3px solid #BCF2F3;
}

main {
    background-color: #d6e0e0;
}
.hero {
    height: 200px;
    background-image:url(../images/blue.jpg);
    background-size:cover;
}
  .hero p {
      color: darkslategray;
      background-color: #BCF2F3;
      font-size: 45px;
      padding: 10px;
      float:right;
      margin-top: 100px;
      margin-right: 80px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  
.secondary-section {
    display:flex;
    justify-content: center;
    align-items: stretch;
    height: 200px;
}
.secondary-section h2 {
    width: 15%;
    text-align: right;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    color: darkslategray;
    border-right: 3px solid darkslategray;
    padding: 5px 20px 50px 80px;
    
}
.secondary-section p {
    width: 80%;
    padding-left: 10px;
    font-size: 18px;
    margin-left: 0px;
}
.secondary-section a {
    text-decoration: none;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: darkslategray;
    padding: 10px 0px;
    margin-right: 10px;
    border-bottom: 3px solid darkslategray;
}
footer {
    display: flex;
    margin: 40px;
    width: 79%;
    justify-content: space-around;
    height: 100px;
}
.Primary-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    height: 800px;

}
.Primary-section h2 {
    width: 15%;
    text-align: right;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    color: darkslategray;
    border-right: 3px solid darkslategray;
    padding: 5px 20px 50px 80px;
}
.Primary-section-container {
    width: 74%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
}
.surf-report {
    width: 100%; 
    height: 400px;
    margin: 10px;
    background-image: url(../images/350x150.png);
    border: 5px solid #BCF2F3
}

.surf-report-content {
    color: darkslategray;
      background-color: #BCF2F3;
      padding: 10px;
      float:left;
      margin-top: 270px;
      margin-right: 80px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Primary-section-item {
    width: 48%; 
    height: 180px;
    margin: 10px;
    background-image: url(../images/350x150.png);
    border: 5px solid #BCF2F3
}
.Primary-section-item-content {
    color: darkslategray;
      background-color: #BCF2F3;
      padding: 10px;
      float:left;
      margin-top: 100px;
      margin-right: 80px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    
    header h1 {
        width: 50%;
        text-align: center;
        margin:auto;
    }
    
    header nav ul {
        margin-top: auto;
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-left:auto
    }
    
    header nav ul li a {
        font-size: 20px;
        text-align: center;
    }
    .hero p {
        width: 100%;
        display:flex;
        justify-content: center;
        margin: 50px 0px;
    }
    .secondary-section {
        height: fit-content;
        margin: 10px;

    }
    .secondary-section h2 {
        font-size: 25px;
        margin:auto;
        padding: 15px;
    }
    .secondary-section p {
        width: fit-content;
        height: fit-content;
        margin: 30px 20px 0px 20px;


    }
    .Primary-section { 
        height: fit-content;

    }
    .Primary-section h2 {
        font-size: 25px;
        text-align: center;
        margin:auto;
        padding: 15px;
        border-bottom: 3px solid darkslategray;
        border-right: none;
    }
    .Primary-section-container {
        width:fit-content

    }
    .Primary-section-item {
        width: 45%;

    }

}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    body { 
        max-width: fit-content;
        align-items: center;
        display: contents;
        justify-content: left;

    }
    header {
        display: flex;
    }
    .secondary-section a {
        font-size: 17px;
    }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .secondary-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
    }
    .secondary-section h2 {
        border-bottom: 3px solid darkslategray;
        border-right: none;
        text-align: center;
        width: fit-content;
    }
    footer {
        height: 100px;
        margin: 0;
    }
}