* {
    box-sizing:border-box;
    padding: auto;
    margin: auto;   
}
header {
    background-color:darkslategray;
    justify-content:flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}
header h1 {
   background-color:#BCF2F3;
   margin-left: 0px;
}


header h1 a {
    color:darkslategray;
    text-decoration: none; 
    padding: 20px 5px 20px 40px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    align-items:flex-end;
    list-style: none;
    padding-right: 30px;
    margin-left: 600px;
}
header nav ul li a {
    text-decoration: none;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: #BCF2F3;
    padding: 10px 10px;
    margin-right: 10px;
    border-bottom: 3px solid #BCF2F3;
}

main {
    background-color: #d6e0e0;
}
.hero {
    height: 200px;
    background-image:url(../images/blue.jpg);
    background-size:cover;
}
  .hero p {
      color: darkslategray;
      background-color: #BCF2F3;
      font-size: 45px;
      padding: 10px;
      float:right;
      margin-top: 100px;
      margin-right: 80px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  
.about-me-contact-me {
    display:flex;
    justify-content: center;
    align-items: stretch;
    height: 200px;
}
.about-me-contact-me h2 {
    width: 15%;
    text-align: right;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    color: darkslategray;
    border-right: 3px solid darkslategray;
    padding: 5px 20px 50px 80px;
    
}
.about-me-contact-me p {
    width: 80%;
    padding-left: 10px;
    font-size: 18px;
    margin-left: 0px;
}
.about-me-contact-me a {
    text-decoration: none;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: darkslategray;
    padding: 10px 0px;
    margin-right: 10px;
    border-bottom: 3px solid darkslategray;
}
footer {
    display: flex;
    margin: 40px;
    width: 79%;
    justify-content: space-around;
}
.work {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    height: 800px;

}
.work h2 {
    width: 15%;
    text-align: right;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    color: darkslategray;
    border-right: 3px solid darkslategray;
    padding: 5px 20px 50px 80px;
}
.work-container {
    width: 74%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
}
.surf-report {
    width: 100%; 
    height: 200px;
    margin: 10px;
    background-image: url(../images/350x150.png);
    border: 5px solid #BCF2F3
}

.surf-report-content {
    color: darkslategray;
      background-color: #BCF2F3;
      padding: 10px;
      float:left;
      margin-top: 100px;
      margin-right: 80px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.work-item {
    width: 48%; 
    height: 200px;
    margin: 10px;
    background-image: url(../images/350x150.png);
    border: 5px solid #BCF2F3
}
.work-item-content {
    color: darkslategray;
      background-color: #BCF2F3;
      padding: 10px;
      float:left;
      margin-top: 100px;
      margin-right: 80px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

